@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var rootNode = Umbraco.Content(1250);
}

<div class="row">
    <div class="col-lg-1 visible-lg">
    </div>
    <div class="col-lg-10 col-xs-12">
        @if (rootNode.Children.Any())
            {
            <ul class="nav nav-tabs education-nav">
                @foreach (var childPage in rootNode.Children)
                {
                    <li class='@(childPage.IsAncestorOrSelf(CurrentPage) ? "active" : null)'><a href="@childPage.Url">@childPage.Name</a></li>
                }
            </ul>
        }
    </div>
</div>
<br /><br />


