@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="terms_and_conditions hidden" id="terms_and_conditions">
    @{
        if (CurrentPage.HasValue("termsAndConditions"))
        {
            @Html.Raw(CurrentPage.termsAndConditions)
        }
    }
    <button class="button accept_terms" id="accept_terms">Accept</button>
</div>
</div>

<script type="text/javascript" src="/js/final/classie.js"></script>
<script type="text/javascript" src="/js/final/selectFx.js"></script>
<script type="text/javascript" src="/js/project/enquiry_general.js"></script>
<script type="text/javascript" src="/js/project/bootstrap_calendar.js"></script>

<script>
    //style for State dropdox list
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();

    $('#general_form_trigger').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("/umbraco/Surface/ShowEnquiryForm/GeneralForm/")',
            data: "",
            success: function (data) {
                $('#form_area').html(data);
            }
        });
    });
</script>
