@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="contact-form-area">

    <form name="learn-group-enquiry" id="learn-group-enquiry" method="post" class="validate">
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="Title">Title</label>
                <select name="Title" class="cs-select">
                    <option value="Please select">Please select</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Ms</option>
                    <option value="Miss">Miss</option>
                    <!-- This part will loop from a title list -->
                </select>
            </div>

            <div class="field-group col-sm-6">
                <label for="Email">Email Address <span class="asterisk" style="top: 35px;">*</span></label>
                <input placeholder="Enter email address..." value="" name="Email" class="required_email long"
                       id="contact-EMAIL">
                <div class="error-msg hidden"></div>
            </div>
        </div>
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="FirstName">First Name <span class="asterisk" style="top: 35px;">*</span></label>
                <input class="long" type="text" placeholder="Enter first name..." value="" name="FirstName">
                <div class="error-msg hidden"></div>
            </div>
            <div class="field-group col-sm-6">
                <label for="LastName">Last Name <span class="asterisk" style="top: 35px;">*</span></label>
                <input class="long" type="text" placeholder="Enter last name..." value="" name="LastName">
                <div class="error-msg hidden"></div>
            </div>
        </div>
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="Position">Position</label>
                <input class="long" type="text" placeholder="Enter your position..." value="" name="Position">
            </div>
            <div class="field-group col-sm-6">
                <label for="Company">Company</label>
                <input class="long" type="text" placeholder="Enter your company..." value="" name="Company">
            </div>
        </div>
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="Phone">Phone <span class="asterisk" style="top: 35px;">*</span></label>
                <input type="text" class="long" placeholder="Enter your phone number..." value="" name="Phone"/>
                <div class="error-msg hidden"></div>
            </div>
            <div class="field-group col-sm-6">
                <label for="Mobile">Mobile</label>
                <input type="text" class="long" placeholder="Enter your mobile number..." value="" name="Mobile"/>
            </div>
        </div>
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="Street">Street</label>
                <input type="text" class="long" placeholder="Enter your street..." value="" name="Street"/>
            </div>
            <div class="field-group col-sm-6">
                <label for="Suburb">Suburb</label>
                <input type="text" class="long" placeholder="Enter your suburb..." value="" name="Suburb"/>
            </div>
        </div>
        <div class="row">
            <div class="field-group col-sm-6">
                <label for="State">State</label>
                <select name="State" id="mce-MMERGE" class="cs-select">
                    <option value="Please select">Please select</option>
                    <option value="ACT">ACT</option>
                    <option value="NSW">NSW</option>
                    <option value="NT">NT</option>
                    <option value="QLD">QLD</option>
                    <option value="SA">SA</option>
                    <option value="TAS">TAS</option>
                    <option value="VIC">VIC</option>
                    <option value="WA">WA</option>
                </select>
            </div>
            <div class="field-group col-sm-6">
                <label for="Suburb">Postcode</label>
                <input type="text" class="long" placeholder="Enter your suburb..." value="" name="Postcode" />
            </div>
        </div>


        <div class="row">
            <div class="field-group col-sm-6">
                <label for="SchoolName">School Name<span class="asterisk" style="top: 35px;">*</span></label>
                <input type="text" class="long" placeholder="Enter your school name ..." value="" name="SchoolName" />
                <div class="error-msg hidden"></div>
            </div>
            <div class="field-group col-sm-6">
                <label for="SchoolAddress">School Address<span class="asterisk" style="top: 35px;">*</span></label>
                <input type="text" class="long" placeholder="Enter your school address ..." value="" name="SchoolAddress" />
                <div class="error-msg hidden"></div>
            </div>
        </div>

        <div class="row">
            <div class="field-group col-sm-6">
                <label for="BookingDate">Booking Date <span class="asterisk" style="top: 35px;">*</span></label>
                <input id="datepicker1" type="text" class="long" placeholder="Enter your booking date ..." value="" name="BookingDate" />
                <div class="error-msg hidden"></div>
            </div>
            <div class="field-group col-sm-6">
                <label for="TimeOfVisit">Arrival Time</label>
                <select name="TimeOfVisit" class="cs-select">
                    <option value="">Please select</option>
                    <option value="10:00am">10:00am</option>
                    <option value="11:00am">11:00am</option>
                    <option value="12:00am">12:00am</option>
                    <option value="1:00pm">1:00pm</option>
                    <option value="2:00pm">2:00pm</option>
                    <option value="3:00pm">3:00pm</option>
                    <option value="4:00pm">4:00pm</option>
                    <option value="5:00pm">5:00pm</option>
                    <option value="6:00pm">6:00pm</option>
                    <option value="7:00pm">7:00pm</option>
                    <option value="8:00pm">8:00pm</option>
                    <option value="9:00pm">9:00pm</option>
                    <!-- This part will loop from a title list -->
                </select>
                <div class="error-msg hidden"></div>
            </div>
        </div>

        <div class="row">
            <div class="field-group col-sm-6">
                <label for="YearLevel">Year Level</label>
                <input type="text" class="long" placeholder="Enter year level here..." value="" name="YearLevel" />
            </div>
            <div class="field-group col-sm-6">
                <label for="NumOfStudents">Number of Students<span class="asterisk" style="top: 35px;">*</span></label>
                <input type="number" class="long" placeholder="Enter a number..." value="" name="NumOfStudents" />
                <div class="error-msg hidden"></div>
            </div>
        </div>

        <div class="row">
            <div class="field-group col-sm-6">
                <label for="NumOfAdults">Number of Adults<span class="asterisk" style="top: 35px;">*</span></label>
                <input type="number" class="long" placeholder="Enter a number..." value="" name="NumOfAdults" />
                <div class="error-msg hidden"></div>
            </div>
            <div class="field-group col-sm-6">
                <label for="NumOfTeachers">Number of Teachers</label>
                <input type="number" class="long" placeholder="Enter a number..." value="" name="NumOfTeachers" />
                <div class="error-msg hidden"></div>
            </div>
        </div>

        <div class="row">
            <div class="field-group col-xs-12">
                <label for="Comments">Comments</label>
                <textarea type="text" class="long" placeholder="Enter your comments..." value="" name="Comments"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="field-group col-xs-12">
                <input type="checkbox" name="AcceptTerms" id="AcceptTerms" style="float:left;" value="true" />
                Please check this box to indicate you have read and accept the
                <a class="show_terms_conditions">privacy policy </a>
            </div>
        </div>
        <div class="g-recaptcha"
             data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaSitekey"].ToString()">
        </div>
        <br />
        <div class="row">
            <div>
                <input class="hidden" type="text" name="b_4d2c8011960ee7758b33a61a7_68ac2802a5" tabindex="-1" value="">
            </div>
            <div class="clear col-xs-12">
                <input type="submit" value="SEND" name="subscribe" id="mc-embedded-subscribe" class="button" style="">
            </div>
        </div>
    </form>
</div>


<script>
    $(function() {
        $("#datepicker1").datepicker({
            inline: true
        });
        $("#datepicker2").datepicker({
        });
    });
</script>

<script type="text/javascript" src="/js/project/enquiry_learn_group.js"></script>
