@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Extra Meny-->
<div class="box-container home_box clearfix" id="box-container">
    <div class="left-bar box-sidebar pull-left" id="left-bar">
        <!-- More Menu Component -->
        <button type="button" role="button" id="view_more_button" aria-label="Toggle Navigation" class="lines-button arrow arrow-left visible-lg">
            <span class="lines"></span>
        </button>
        <div class="accordion" id="leftMenu">

            @{
                var visitorInfoNode = Umbraco.Content(1164);

                foreach (var c in visitorInfoNode.Children)
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="@c.Url">
                                <i class="icon-th"></i>@c.pageTitle
                            </a>
                        </div>
                    </div>
                }
            }
            
        </div>
        <!-- End of Mobile Menu Component -->
        <!--
        <button type="button" class="navbar-toggle collapsed pull-right lines-button arrow-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="nav-button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        -->
        <!--<a class="view-more-text">More</a>-->
    </div>
