@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var counter = 1;
}
<main class="accordion faq_container">
        @if (CurrentPage.Children.Any())
        {
            foreach (var childPage in CurrentPage.Children)
            {
                <section class="accordion-group">
                    <div class="accordion-heading collapsed_item">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#faq_sec@{@counter}">
                            <span class="icon-list-alt">+</span> @childPage.title
                        </a>
                    </div>
                    <article id="faq_sec@{@counter}" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            @Html.Raw(childPage.description)
                        </div>
                    </article>
                </section>
                counter++;
            }
        }
</main>
<script type="text/javascript" src="/js/final/faq.js"></script>

@helper childPages(dynamic pages)
{
if (pages.Any())
{
        <ul class="dropdown-menu">
            @foreach (var page in pages)
            {
                <li>
                    <a href="@page.Url">@page.Name</a>
                </li>
            }
        </ul>
}
}