@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Mobile Menu -->
<div class="mobile-menu-sidebar hidden-lg clearfix" id="leftMobileMenu">
    <a id="close-mobile" href="#">
        <img class="pull-right img-responsive" src="/img/close.png" />
    </a>
    <div class="accordion">
        <div class="accordion-group hidden-lg">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-th"></i> Main one
                </a>
            </div>
        </div>
        <div class="accordion-group hidden-lg">
            <div class="accordion-heading collapsed_item">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseMainTwo">
                    <i class="icon-list-alt"></i> Main two
                </a>
            </div>
            <div id="collapseMainTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <ul>
                        <li><a href='#'>This is one</a></li>
                        <li><a href='#'>This is two</a></li>
                        <li><a href='#'>This is three</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group hidden-lg">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-th"></i> Main three
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-th"></i> Layout
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-th-list"></i> UI Components
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading collapsed_item">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#cf">
                    <i class="icon-list-alt"></i> Forms
                </a>
            </div>
            <div id="cf" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <ul>
                        <li><a href='#'>This is one</a></li>
                        <li><a href='#'>This is two</a></li>
                        <li><a href='#'>This is three</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-cog"></i> Plugins
                </a>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                    <i class="icon-file"></i> Templates
                </a>
            </div>
        </div>
    </div>
</div>
