<div id="search-mask" class="body-mask">
    <div id="search-close-button"><a id="mask_close_button" href="#"><img src="/img/icon-close.png" /></a></div>
    <script type="text/javascript" src="/js/project/angular/searchAngularController.js"></script>
    <!--search-->
    <div class="search-box" ng-app="searchModule">
        <div class="search-box-container" ng-controller="searchController">
            <div class="search-box-input inline-block">
                Search:
            </div>
            <input id="search-input-box" class="search-input inline-block" type="search" ng-model="q" placeholder="How can we help?" />
            <ul class="example-animate-container">
                <li ng-animate="'animate'" class="animate-repeat" ng-if="q.length > 0" ng-repeat="page in pages | filter:q as results">
                    <!--[{{$index + 1}}]--> <a href="{{page.url}}">{{page.title}}</a>
                </li>
                <li class="animate-repeat" ng-if="results.length == 0">
                    <strong>No results found...</strong>
                </li>
            </ul>
        </div>
    </div>
    <!--End of search-->
</div>