@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<script type="text/javascript" src="/js/jquery/jquery.qrcode.min.js"></script>

<div class="post_social_links">
    <!--
    <div class="fb-like" data-href="@umbraco.library.NiceUrl(CurrentPage.Id)" data-layout="button" data-show-faces="true" data-share="true"></div>
    -->
    
    <a id="facebook" href="javascript:fbShare('@umbraco.library.NiceUrl(CurrentPage.Id)', 'Fb Share', 'Facebook share popup', '@umbraco.library.NiceUrl(CurrentPage.Id)', 520, 350)"><img class="img-responsive" src="/img/facebook_full.png" /></a>
    <!--<a id="wechat" href="#"><img class="img-responsive" src="/img/wechat.png"/></a>-->
</div>

<div id="qrcode_popup" class="clearfix" style="width:300px;height:300px;position:absolute;left:0;right:0;margin:auto;"></div>

<script type="text/javascript" src="/js/final/share_to_social_links.js"></script>
