@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Layout.cshtml";
}
@Html.Partial("_header")


<div class="container contact-form clearfix" style="position:relative;">
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(CurrentPage.mainEditor)
        </div>
    </div>


    <div class="contact-form-area clearfix">
        <div id="contact_us_form_result" class="hidden"></div>

        <script src='https://www.google.com/recaptcha/api.js'></script>

        <form name="contact-us-form" id="contact-us-form" method="post" class="validate">
                <div class="row">
                    <div class="mc-field-group col-sm-6">
                        <label for="Email">Email Address <span class="asterisk" style="top: 35px;">*</span> </label>
                        <input placeholder="Enter email address..." value="" name="Email" class="required_email long" id="contact-EMAIL">
                        <div class="error-msg hidden"></div>
                    </div>
                    <div class="mc-field-group col-sm-6">
                        <label for="Phone">Mobile</label>
                        <input type="text" placeholder="Enter mobile number..." class="long" value="" name="Phone">
                    </div>
                </div>
                <div class="row">
                    <div class="mc-field-group col-sm-6">
                        <label for="FirstName">First Name <span class="asterisk" style="top: 35px;">*</span></label>
                        <input class="long" type="text" placeholder="Enter first name..." value="" name="FirstName">
                        <div class="error-msg hidden"></div>

                    </div>
                    <div class="mc-field-group col-sm-6">
                        <label for="LastName">Last Name </label>
                        <input class="long" type="text" placeholder="Enter last name..." value="" name="LastName">
                    </div>
                </div>



                <div class="row">
                    <div class="mc-field-group col-sm-6">
                        <label for="PostCode">Post Code </label>
                        <input class="long" type="text" placeholder="Enter your postcode..." value="" name="PostCode">
                    </div>
                    <div class="mc-field-group col-sm-6">
                        <label for="State">State </label>
                        <select name="State" id="mce-MMERGE" class="cs-select">
                            <option value="Please select">Please select</option>
                            <option value="ACT">ACT</option>
                            <option value="NSW">NSW</option>
                            <option value="NT">NT</option>
                            <option value="QLD">QLD</option>
                            <option value="SA">SA</option>
                            <option value="TAS">TAS</option>
                            <option value="VIC">VIC</option>
                            <option value="WA">WA</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mc-field-group col-sm-12">
                        <label for="Message">Message</label>
                        <textarea type="text" class="long" placeholder="Enter your message..." value="" name="Message"></textarea>
                    </div>
                </div>
                
                <div class="g-recaptcha" data-sitekey="6Lf5phYTAAAAAIZfKZdbS8yCDDyiTlWVxJfhf8vT"></div>
                <br />
                
                <div class="row">
                    <div>
                        <input class="hidden" type="text" name="b_4d2c8011960ee7758b33a61a7_68ac2802a5" tabindex="-1" value="">
                    </div>
                    <div class="clear col-xs-12">
                        <input type="submit" value="SEND" name="subscribe" id="mc-embedded-subscribe" class="button" style="">
                    </div>
                </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/project/classie.js"></script>
<script type="text/javascript" src="/js/project/selectFx.js"></script>
<script type="text/javascript" src="/js/project/contactus.js"></script>


<script>
    //style for State dropdox list 
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();
</script>
