@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "~/Views/Layout.cshtml";
    var root = Umbraco.Content(1250);
}

@Html.Partial("_header")

<!-- template content area -->
<div class="container text-center transit clearfix">
      <!-- Also used in education sub pages -->   
        <div class="row">
            <div class="col-lg-1 visible-lg">
            </div>
            <div class="col-lg-10 col-xs-12" id="table-striped-inside">
                @Html.Partial("_FAQ")
            </div>
        </div>  

</div>
<!-- end of template content -->

