@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "~/Views/Layout.cshtml";
}

@Html.Partial("_header")

<!-- template content area -->
<div class="container text-center transit clearfix">
    <div class="faq_container clearfix">
        <div class="accordion">
            @if (CurrentPage.Children.Any())
            {
                foreach (var childPage in CurrentPage.Children)
                {
                    <div class="accordion-group">
                        <div class="accordion-heading collapsed_item">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#faq_sec2">
                                <span class="icon-list-alt">+</span> @childPage.title
                            </a>
                        </div>
                        <div id="faq_sec2" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                @Html.Raw(childPage.description)
                            </div>
                        </div>
                    </div>         
                }
            }
        </div>
    </div>

    <script type="text/javascript" src="/js/project/faq.js"></script>

</div>
<!-- end of template content -->