@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var newsEvent = Umbraco.Content(1067);
}   

@Html.Partial("_header")




    <script type="text/javascript" src="/js/project/postAngularController.js"></script>

    <div ng-app="mainApp" class="container template_content">
        <div ng-controller="postController">
        <div class="row">
            <div class="col-lg-1 visible-lg">
            </div>
            <div class="col-xs-12 col-lg-10">
                <nav class="centered_nav_area clearfix">
                    <ul class="centered_list_nav">
                        <li class="first"><a href="/en/newsevents" ng-click="selectCat('')">All</a></li>
                        @{
                            foreach (var c in newsEvent.Children())
                            {
                                <li><a href="#" ng-click="selectCat(@c.Id)">@c.pageTitle</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 visible-lg">
            </div>
            <div class="col-xs-12 col-lg-10 three-column-container">
                <div class="row">
                   
                    <div ng-repeat="obj in posts | filter: {categoryID:search.categoryID}">
                        <div class="post_list_item col-lg-4 col-sm-6 col-xs-12">
                            <a class="in-row" href="{{obj.url}}"><img src="{{obj.featuredImage}}" class="img-responsive" /></a>
                            <a class="in-row" href="{{obj.url}}"><h2>{{obj.title}}</h2></a>
                            <a class="in-row whats_on" href="/en/newsevents/#/{{obj.categoryName}}">{{obj.categoryName}}</a>
                            <p class="in-row">
                               {{obj.subtitle}}
                            </p>
                        </div>
                        <div ng-if="($index+1)%3 == 0" class="clear"></div>
                    </div>
                </div> 
            </div>
        </div>
        </div>
    </div>


    <script type="text/javascript" src="/js/project/banner_mask_height_init.js"></script>
