@media (max-width: $screen-md-max) {    
    .main_nav {
        background-color:$nav_blue;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:100;
        @include transition(all 0.4s ease);
        .full-screen-container{
            padding-left:0;
            padding-right:0;
            .logo{
                right:0;
                margin-right:90px;
                padding-top:18px;
            }
            
            .main_nav_item{
                display:none;
            }
            
            .mobile-menu{
                .lines-button{
                    padding:0 .75rem;
                }
            
                button.navbar-toggle{
                    display:block;
                    .icon-bar{
                        background-color: #294d82;
                        width:30px;
                        height:6px;
                        margin-left:15px;
                    }
                }
            }
        }     
        
        &.when_mobile_menu_open{
            margin-left:$mobile-menu-width !important;
            z-index: 10 !important;
        }
    }                                          
}

@media (min-width:$screen-lg-min) and (max-width:$screen-lg-max){
    .main_nav{
        .full-screen-container{
            nav.navbar{
                ul{
                    li.root{
                        min-width:90px;
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }      
        }
    }
}

@media (max-width: $screen-md-max) {    
    .main_nav{
        height:65px;
        &.stick{
            margin:0;
            padding:0;
            border-left:0 solid #fff;
            border-right:0 solid #fff;
        }
        .full-screen-container{
            height:65px;
            .logo{
                width:180px;
                margin-right:30px; 
                padding-left:0;
                
                a.logo_span{
                    width:180px;
                    background-size:cover;
                    height:30px;
                }
            }
        }
    }
}

@media (max-width: $screen-xxxs-max) {  
    .main_nav{
        .full-screen-container{
            .logo{
                margin-right:5px; 
            }
            .mobile-menu{
                margin-left:0;
                button.navbar-toggle{
                    padding-left:0;
                    margin-top:22px;
                    .icon-bar{
                        width:20px;
                        height:3px;
                        
                    }
                }
            }
            
          
        }
    }
}