$bounce_height:6px;
$bounce_height_back:3px;
.bounce {
 position: absolute;
 left:0;
 right:0;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-$bounce_height);}
 60% {-webkit-transform: translateY(-$bounce_height_back);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-$bounce_height);}
 60% {-moz-transform: translateY(-$bounce_height_back);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-$bounce_height);}
 60% {-o-transform: translateY(-$bounce_height_back);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-$bounce_height);}
 60% {transform: translateY(-$bounce_height_back);}
}
