.box-container{
    .carousel{
        .carousel-inner{
            top: -95px;

            .item{
                height:900px; 
                .carousel-caption{
                    .banner-text{
                        display:block; 
                        padding-bottom:20px;
                    }
                    padding:20px;
                    display:block;
                    background-color:rgba(0,0,0,0.5);
                    width:500px;
                    margin:0 auto;
                    bottom:50%;
                    h1{
                        margin-bottom:30px;
                    }

                }
            }
        }
    }
}

.carousel-control{
    bottom: 95px !important;
}

#myCarousel {
    margin-bottom: -85px;
}

@media (min-width:$screen-lg-min) and (max-width:$screen-lg-max){
    .box-container{
    .carousel{
        .carousel-inner{
            .item{
                height:600px; 
            }
        }
    }
}
}

@media (min-width:$screen-lg-min){
    .box-container{
    .carousel{
        .carousel-inner{
            .item{
                .carousel-caption{
                    &.left{
                        margin-left:0;
                        left:200px;
                        bottom:60px;
                        text-align:left;
                        padding-left:30px;
                    }
                    &.right{
                        bottom:52%;
                        text-align:left;
                        padding-left:30px;
                        right:0;
                        margin-right:200px;
                    }
                }
            }
        }
    }
}
}
@media (min-width:$screen-sm-min) and (max-width:$screen-md-max){
.box-container{
    .carousel{
        .carousel-inner{
            .item{
                height:400px;
                .carousel-caption{
                    .banner-text{

                    }
                    bottom:25%;  
                    h1{
                        font-size:25px;
                    }
                    &.left{
                        bottom:25%;  
                        margin:0 auto;
                    }
                }
            }
        }
    }
}
    
}
@media (min-width:$screen-sm-min) and (max-width:$screen-md-max){
    .box-container{
        .carousel{
            .carousel-inner{
                .item{
                    text-align:center;
                    height:300px;
                    .carousel-caption{
                        padding:10px;
                        margin:0 auto;
                        .banner-text{

                        }
                        width:300px;
                        bottom:20%;  
                        h1{
                            font-size:20px;
                        }
                        a.button{
                            font-size:14px;
                            padding:6px 10px;
                        }
                        &.left{
                            bottom:20%;  
                            margin:0 auto;
                        }
                    }
                }
            }
        }
    }
} 
@media  (max-width:$screen-xs-max){
    .box-container{
        .carousel{
            .carousel-control{
                    display:none;
                }
            .carousel-indicators{
                display:none;
            }
            .carousel-inner{
                
                .item{
                    text-align:center;
                    height:300px;
                    .carousel-caption{
                        padding:10px;
                        margin:0 auto;
                        .banner-text{

                        }
                        width:200px !important;
                        bottom:20%;  
                        h1{
                            font-size:16px;
                        }
                        a.button{
                            font-size:14px;
                            padding:6px 10px;
                        }
                        &.left{
                            bottom:20%;  
                            margin:0 auto;
                        }
                    }
                }
            }
        }
    }
}
@import "__auto_spin.scss";