#leftMenu{
    display:none;
}

.box-container{
    .left-bar{
        text-align:center;
        &.expanded{
            #leftMenu{
                display:block;
            }
            text-align:left;
            font-family: $font-fu-book,$font-fu-l;
            .accordion-group{
                padding-bottom:10px;
                margin-left:30px;
                .accordion-heading{
                    &.collapsed_item{
                        background:url('../../../img/arrow_right.png') no-repeat;
                        background-position: 88% 50%;
                    }
                    a{
                        color:#000;
                        text-transform: uppercase;
                        font-size:15px;
                    }
                }
                .accordion-body{
                    ul{
                        padding-left:15px;
                        padding-top:10px;
                        list-style:none;
                        li{
                            padding:3px 0;
                            a{
                                color:#000;
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "__transform_menu_button.scss";
