.post_list_item{
    .in-row{
        width:100%;
        text-align:left;
        h2{
            font-size:19px;
            line-height:130%;
        }
    }

    a{
        display:inline-block;
    }
    .read_more{
        margin-top:15px;
        display:inline-block;
        font-weight: bold;
        padding: 12px 25px 12px 25px;
        font-family: $font-fu-bold;
    }
    
    .learn_more{
        color:$title_blue;
        text-decoration: underline;
        text-transform: uppercase;
        font-family:$font-fu-book;
    }
    .whats_on_newsevents{
        text-transform: uppercase;
        margin:0 0 15px 0;
        color:#153c6f;
    }
    
    padding-bottom: 30px;
}

.function_list_item{
    .in-row{
        width:100%;
        text-align:left;
    }

    a{
        display:inline-block;
        &.whats_on_newsevents{
            font-size:16px;
        }
    }
    .read_more{
        margin-top:15px;
        display:inline-block;
        font-weight: bold;
        padding: 12px 25px 12px 25px;
        font-family: $font-fu-bold;
    }
    
    .learn_more{
        color:$title_blue;
        text-decoration: underline;
        text-transform: uppercase;
        font-family:$font-fu-book;
    }
    .whats_on_newsevents{
        text-transform: uppercase;
        text-decoration: underline;
        margin:0 0 15px 0;
    }
    
    padding-bottom: 30px;
}

@media(max-width: 1199px) {
    .venues-img{
        width: 100%;
    }
}