.lets_connect{
	margin-top: 50px;
	text-align: center;
	.social_links{
		position: relative;
		width: auto;
        display: inline-block;	
		margin: 0 auto 50px auto;
		span{
			margin-left: 15px;
			margin-right: 15px;
            float:left;
            .social_links_block{
                width:68px; 
                height:68px;
                display:block;
                margin:0;
                @include transition(all 0.3s ease);
                &.twitter{
                    background-image:url("/img/twitter.png");
                    &:hover{
                        background-position:0 67.5px;
                    }
                }
                &.tripAdvisorLink{
                    background-image:url("/img/tripadvisor.png");
                    &:hover{
                        background-position:0 67.5px;
                    }
                }
                &.facebook{
                    background-image:url("/img/facebook.png");
                    &:hover{
                        background-position:0 67.5px;
                    }
                }
                &.youtube{
                    background-image:url("/img/youtube.png");
                    &:hover{
                        background-position:0 67.5px;
                    }
                }
                &.instagram{
                    background-image:url("/img/instagram.png");
                    &:hover{
                        background-position:0 67.5px;
                    }
                }
            }
            
		}
	}
}
