#body-mask{
    position:absolute;
    z-index: 99;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    display:none;
    &.show{
       display:block; 
    }
    &.extra-margin-left{
        margin-left: $mobile-menu-width;
    }
}


// Search Animation
.example-animate-container {
  background:transparent;
  color: white;
  // border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;

  a{
    color: white;
  }
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

#search-mask{
    position:fixed;
    z-index: 999;
    width:100%;
    height: 100%;
    width: 100%;
    background-color:rgba(0,20,35,0.8);
    display:none;
    margin-left: -30px;

    &.show{
    }
    
}

.search-box{
    width: 75%;
    margin: 0 auto;
    margin-top: 200px;
}

.search-box-container{
    text-align: center;
}

#search-close-button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.search-box-input{
    color: white;
}

