#body-mask{
    position:absolute;
    z-index: 99;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    display: none;
    @include transition(all 1s ease);

    &.move-left{
        margin-left:200px;
    }
    &.show{
       display: block;
    }
    &.extra-margin-left{
        margin-left: $mobile-menu-width;
    }
}


// Search Animation 
.example-animate-container {
  background:transparent;
  color: white;
  // border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
  height: 700px;
  overflow: auto;
  text-align: left;
  margin-left: 20%;

  a{
    color: white;
  }
}

.animate-repeat {
  // line-height:30px;
  list-style:none;
  box-sizing:border-box;    
  font-size: 30px;
}


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    overflow: hidden;
    // @include transition(500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
    @include transition(0.55s linear);
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    // opacity: 0;
    height: 0px;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    // opacity: 1;
    height: 43px;
}

#search-mask{
    position:fixed;
    z-index: 999;
    width:100%;
    height: 100%;
    width: 100%;
    background-color:rgba(0,20,35,0.8);
    margin-left: -30px;
    visibility:hidden;
    @include transition(0.3s linear);
    opacity: 0;

    &.show{
        visibility:visible;
        opacity: 1;
    }
    
}

.search-box{
    width: 75%;
    margin: 0 auto;
    margin-top: 200px;
}

.search-box-container{
    text-align: center;
}

#search-close-button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.search-box-input{
    color: white;
    font-size: 40px;
}

.search-input{
    height:60px;
    border: 0;
    width: calc(40% - 2px);
    position:relative;
    top:-10px;
    margin-left:5px;
    box-shadow: 0px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    padding-left: 30px;
    background:transparent;
    font-size: 30px;
    color: white;

    &:focus{
        outline: none;
    }
}