.contact-form{
    .show_terms_conditions{
            text-decoration:underline;
        }
    .terms_and_conditions{
        padding: 30px;
        position: fixed;
        height: 800px;
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background-color: #fff;
        z-index: 200;
        display: block;
        border: 1px solid black;
        overflow: auto;
        
        #accept_terms{
            background-color:#000;
            color:#fff;
            font-weight:700;
            margin-left:-5px;
        }
    }
}

.tab-content{
    #enquiry_form_result{
        padding: 8px 15px 10px;
        font-size: 20px;
        z-index: 10000;
        margin: auto;
        display: inline-block;
        width:30%;
        left: 0;
        right: 0;
        text-align: center !important;
        top: 45%;
        text-align: left;
        height: auto;
        max-height:100px;
        position: fixed;
        color: #fff;
        background-color: red;
        &.green{
            background-color:#92d400;
        }
    }
}

@import 'sub_components/__datepicker.scss'; 