
.featured-home{
    margin-top:0px;
    position:relative;
    width:100%;
    overflow: hidden;
    text-align:center;
    height:754px;
    .banner-text{
        width:450px;
        display:block;
        text-align: center;
        margin:auto;
        min-height:250px;
        position:absolute;
        left:0;
        right:0;
        top:10%;
        color: white;
        z-index: 10;
        background-color:rgba(0,0,0,0.4);
        padding:15px;
    }
    
    .floating-star{
        position:absolute;
        left:-100px;
        bottom:-100px;
        @include transition(all 0.3s ease);

    }

    .button{
        padding: 17px 20px 17px 20px;
        font-weight: bold;
        position: relative;
        top: 60px;
        background-color:rgba(0,0,0,0.3);
    }
}

@import 'media_queries/__featured_home.scss';
