.featured_home_info{
	text-align: center;
	color: #999999;
        position:relative;
        display:block;
        min-height:190px;
        background-color:#fff;
	.full-screen-container{
            padding-top:5px;
            .infomation{
                margin-top: 20px;
                font-size: 20px;
                font-weight: 95px;
                text-align: center;
            }
            .info_content{
                color: black;
                font-size: 18px;
                font-weight: 500;
                margin-top:15px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .nav_icon{
                position: relative;
                top: -3px;
            }
	}
        &:after{
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 20px;
            margin-left: -20px;
        }
}

@import "media_queries/__featured_home_info.scss";
@import "sub_components/__bounce_arrow.scss";