@font-face {
    font-family: 'futura_lightregular';
    src: url('../../fonts/ufonts.com_futurabt-light-opentype.eot');
    src: url('../../fonts/ufonts.com_futurabt-light-opentype.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ufonts.com_futurabt-light-opentype.woff2') format('woff2'),
         url('../../fonts/ufonts.com_futurabt-light-opentype.woff') format('woff'),
         url('../../fonts/ufonts.com_futurabt-light-opentype.ttf') format('truetype'),
         url('../../fonts/ufonts.com_futurabt-light-opentype.svg#futura_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-Th';
	src: url('../../fonts/HelveticaNeueLTStd-Th.eot');
	src: url('../../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), 
         url('../../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'), 
         url('../../fonts/HelveticaNeueLTStd-Th.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
    font-family: 'futura_bkbook';
    src: url('../../fonts/ufonts.com_futura-book-webfont.eot');
    src: url('../../fonts/ufonts.com_futura-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ufonts.com_futura-book-webfont.woff2') format('woff2'),
         url('../../fonts/ufonts.com_futura-book-webfont.woff') format('woff'),
         url('../../fonts/ufonts.com_futura-book-webfont.ttf') format('truetype'),
         url('../../fonts/ufonts.com_futura-book-webfont.svg#futura_bkbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_bold';
    src: url('../../fonts/ufonts.com_futura-bold-bt-webfont.eot');
    src: url('../../fonts/ufonts.com_futura-bold-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ufonts.com_futura-bold-bt-webfont.woff2') format('woff2'),
         url('../../fonts/ufonts.com_futura-bold-bt-webfont.woff') format('woff'),
         url('../../fonts/ufonts.com_futura-bold-bt-webfont.ttf') format('truetype'),
         url('../../fonts/ufonts.com_futura-bold-bt-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}