.sticky_menu_2 {
    position: absolute;
    height: 70px;
    background-color: #92d400;
    width: 100%;
    bottom: -70px;

    .container {
        padding-top: 0;
        padding-bottom: 0;
        height: 70px;

        li a{
            height:69px;
            padding-top:25px;
            span{
                height:69px;
                font-weight:500 !important;
                text-shadow:none;
            }
        }
        .selected {
            .dropdown-toggle {
                background-color: #87c902;
            }
        }

        .inline-block {
            display: inline-block !important;
            margin: 0 auto;
            height: 70px;
        }

        .menu--link-text {
            color: white;
            font-size: 16px;
        }

        .dropdown-toggle:hover {
            background-color: #87c902;
        }

        .dropdown-toggle:active{
            background-color: #87c902; 
        }
        .dropdown-toggle:visited{
            background-color: #87c902;
        }
        .dropdown-toggle:focus {
            background-color: #87c902;
        }

        .nav_margin_right {
            margin-right: 0;
            padding-right: 0;

            i.icon {
                width: 1px;
                height: 20px;
                display: block;
                position: absolute;
                right: 0;
                top: 25px;
                background-color: #fff;
            }
        }
    }
}

.stickyMenu {
    position: fixed !important;
    display: block;
    top: 95px;
    margin-left: -30px;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    z-index: 98;
}
