$interest_width: 150px;
$join_button_width: 80px;

.subscribe{
	background-color: $gray_background;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.subscribe_form{
		// padding-left: $interest_width + 40;
		padding-right: $join_button_width;
		float: left;
		width: 100%;
        position:relative;

        .sign-up-msg{
            padding:8px 15px 10px 15px;
            font-size:20px; 
            display:inline-block;
            width:300px;
            z-index:10;
            top:-89px;
            position:absolute;
            margin:0 auto;
            left:0;
            width:100%;
            margin-left:10px;
            text-align:left;
            color:#fff;
            display:block;
            &.red{
                background-color:#a60000;
            }
            &.green{
                background-color:#27aa00 !important;
            }
        }

        .input-container{
            position:relative;
            .error-msg{
                padding:5px 10px;
                display:inline-block;
                background-color:#a60000;
                position:absolute;
                text-align:left;
                top:50px;
                right:0;
                left:0;
                width:100%;
                height:30px;
                color:#fff;
            }
        }
	}

	.subscribe_title{
		font-size: 20px;
		font-family: $font-fu-book;
		margin-bottom: 40px;
	}

	
	.fluid_container {
		width: 97%;
		float: center;
		position: relative;
		left: 0px;

        .input-container{
            width:30%;
            height:50px;
            display:inline-block;
            margin-right: 25px;
            input.inline-block{
			    width: 100%;
			    margin-right: 25px;
			    border: 0px;
			    height: 50px;
			    padding-left: 26px;
		    }
        }
		

	}

	.join_button{
		margin-right: -90px;
		padding-top: 15px;
		width: $join_button_width + 40;
		float: right;
		background-color: black;	
		height: 50px;

		input[type=submit]{
			color: white;
			font-family: $font-fu-bold;
            background-color: black;	
            border:0;
		}
	}
}



@import "media_queries/__subscribe.scss";