.three-column-container{
    padding-left:0;
    padding-right:0;
    display:inline-block;
    box-sizing:border-box;
    .post_list_item{
        display:inline-block;
        vertical-align:bottom;
<<<<<<< HEAD
=======
        float:left;
>>>>>>> 2c70a9f864c38e21758c5ccbfc0615a40d8346dc
    }
    .clear{
        clear:both;
    }
}