.three-column-container{
    padding-left:0;
    padding-right:0;
    display:inline-block;
    box-sizing:border-box;
    #preloader{
        position:absolute;
        margin:0 auto;
        left:0;
        right:0;
        top:30px;
        visibility:hidden;
        z-index:999;
    }
    .post_list_item{
        display:inline-block;
        vertical-align:bottom;
    }
    .clear{
        clear:both;
    }
}