.top_nav{
   background-color:#fff;
   height:34px;
   width:100%;
   display: block; 
   padding-top:7px;
   .navbar{
       min-height:0;
       margin-bottom:0;
   }
   .full-screen-container{
       padding:0;
       .inline-block{
           float:right;
       }
       .navbar{
           margin-right:15px;
           ul{
               li{
                   padding:0;
                   a{
                       @include transition(all 0.4s ease);
                       color:#000;
                       padding:0;
                       text-transform:uppercase;
                       font-size:13px;
                       &:hover{
                           background-color: #fff;
                           color:$link_hover_color;
                       }
                       &:focus{
                           background-color:#fff;
                       }
                   }
               }
           }
       }
       .contact-us{
           margin-right:30px;
           ul{
               li{
                   margin-left:20px;
               }
           }
       }
    }
}

@import 'sub_components/__language.scss';
@import 'sub_components/__search.scss';
@import 'media_queries/__top_nav.scss';

